<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/Eclipse"/>
    <booleanAttribute key="default" value="true"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../runtime-eclipse"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <setAttribute key="selected_features">
        <setEntry value="org.eclipse.datatools.connectivity.feature:default"/>
        <setEntry value="org.eclipse.datatools.doc.user:default"/>
        <setEntry value="org.eclipse.datatools.enablement.feature:default"/>
        <setEntry value="org.eclipse.datatools.enablement.jdbc.feature:default"/>
        <setEntry value="org.eclipse.datatools.modelbase.feature:default"/>
        <setEntry value="org.eclipse.datatools.sqldevtools.ddlgen.feature:default"/>
        <setEntry value="org.eclipse.datatools.sqldevtools.feature:default"/>
        <setEntry value="org.eclipse.datatools.sqldevtools.results.feature:default"/>
        <setEntry value="org.eclipse.draw2d:default"/>
        <setEntry value="org.eclipse.e4.rcp:default"/>
        <setEntry value="org.eclipse.ecf.core.feature:default"/>
        <setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
        <setEntry value="org.eclipse.eclemma.feature:default"/>
        <setEntry value="org.eclipse.egit:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore.ui:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore:default"/>
        <setEntry value="org.eclipse.emf.codegen.ui:default"/>
        <setEntry value="org.eclipse.emf.codegen:default"/>
        <setEntry value="org.eclipse.emf.common.ui:default"/>
        <setEntry value="org.eclipse.emf.common:default"/>
        <setEntry value="org.eclipse.emf.converter:default"/>
        <setEntry value="org.eclipse.emf.databinding.edit:default"/>
        <setEntry value="org.eclipse.emf.databinding:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit:default"/>
        <setEntry value="org.eclipse.emf.ecore.editor:default"/>
        <setEntry value="org.eclipse.emf.ecore:default"/>
        <setEntry value="org.eclipse.emf.edit.ui:default"/>
        <setEntry value="org.eclipse.emf.edit:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore.editor:default"/>
        <setEntry value="org.eclipse.emf.mapping.ecore:default"/>
        <setEntry value="org.eclipse.emf.mapping.ui:default"/>
        <setEntry value="org.eclipse.emf.mapping:default"/>
        <setEntry value="org.eclipse.emf:default"/>
        <setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.rcp.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.user.ui:default"/>
        <setEntry value="org.eclipse.gef:default"/>
        <setEntry value="org.eclipse.help:default"/>
        <setEntry value="org.eclipse.jdt:default"/>
        <setEntry value="org.eclipse.jgit.gpg.bc:default"/>
        <setEntry value="org.eclipse.jgit.http.apache:default"/>
        <setEntry value="org.eclipse.jgit.ssh.apache:default"/>
        <setEntry value="org.eclipse.jgit:default"/>
        <setEntry value="org.eclipse.jpt.common.eclipselink.feature:default"/>
        <setEntry value="org.eclipse.jpt.common.feature:default"/>
        <setEntry value="org.eclipse.jpt.jaxb.eclipselink.feature:default"/>
        <setEntry value="org.eclipse.jpt.jaxb.feature:default"/>
        <setEntry value="org.eclipse.jpt.jpa.eclipselink.feature:default"/>
        <setEntry value="org.eclipse.jpt.jpa.feature:default"/>
        <setEntry value="org.eclipse.jsf.feature:default"/>
        <setEntry value="org.eclipse.jst.common.fproj.enablement.jdt:default"/>
        <setEntry value="org.eclipse.jst.enterprise_core.feature:default"/>
        <setEntry value="org.eclipse.jst.enterprise_ui.feature:default"/>
        <setEntry value="org.eclipse.jst.enterprise_userdoc.feature:default"/>
        <setEntry value="org.eclipse.jst.jsf.apache.trinidad.tagsupport.feature:default"/>
        <setEntry value="org.eclipse.jst.server_adapters.ext.feature:default"/>
        <setEntry value="org.eclipse.jst.server_adapters.feature:default"/>
        <setEntry value="org.eclipse.jst.server_core.feature:default"/>
        <setEntry value="org.eclipse.jst.server_ui.feature:default"/>
        <setEntry value="org.eclipse.jst.server_userdoc.feature:default"/>
        <setEntry value="org.eclipse.jst.web_core.feature:default"/>
        <setEntry value="org.eclipse.jst.web_js_support.feature:default"/>
        <setEntry value="org.eclipse.jst.web_ui.feature:default"/>
        <setEntry value="org.eclipse.jst.web_userdoc.feature:default"/>
        <setEntry value="org.eclipse.jst.webpageeditor.feature:default"/>
        <setEntry value="org.eclipse.jst.ws.axis2tools.feature:default"/>
        <setEntry value="org.eclipse.jst.ws.cxf.feature:default"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.dom.feature:default"/>
        <setEntry value="org.eclipse.jst.ws.jaxws.feature:default"/>
        <setEntry value="org.eclipse.jst.ws.jaxws_userdoc.feature:default"/>
        <setEntry value="org.eclipse.m2e.feature:default"/>
        <setEntry value="org.eclipse.m2e.lemminx.feature:default"/>
        <setEntry value="org.eclipse.m2e.wtp.feature:default"/>
        <setEntry value="org.eclipse.pde:default"/>
        <setEntry value="org.eclipse.platform:default"/>
        <setEntry value="org.eclipse.rcp:default"/>
        <setEntry value="org.eclipse.wildwebdeveloper.embedder.node.feature:default"/>
        <setEntry value="org.eclipse.wildwebdeveloper.feature:default"/>
        <setEntry value="org.eclipse.wildwebdeveloper.xml.feature:default"/>
        <setEntry value="org.eclipse.wst.common.fproj:default"/>
        <setEntry value="org.eclipse.wst.common_core.feature:default"/>
        <setEntry value="org.eclipse.wst.common_ui.feature:default"/>
        <setEntry value="org.eclipse.wst.server_adapters.feature:default"/>
        <setEntry value="org.eclipse.wst.ws_core.feature:default"/>
        <setEntry value="org.eclipse.wst.ws_ui.feature:default"/>
        <setEntry value="org.eclipse.wst.ws_userdoc.feature:default"/>
        <setEntry value="org.eclipse.wst.xml.xpath2.processor.feature:default"/>
        <setEntry value="org.eclipse.wst.xml_core.feature:default"/>
        <setEntry value="org.eclipse.wst.xml_ui.feature:default"/>
        <setEntry value="org.eclipse.wst.xml_userdoc.feature:default"/>
        <setEntry value="org.eclipse.wst.xsl.feature:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="templateConfig" value="${workspace_loc:de.tgmz.eclipse.product/config.ini}"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
